@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --background-color: #fff;
  --text-color: #000;
  --accent-color: #51a3a3;
}

body {
  font-family: "Raleway", "Courier New", Courier, monospace;
  background: var(--background-color);
  width: 100vw;
  height: 100vh;
}

#header {
  display: flex;
  /* padding: 1.5em 2em; */
  max-width: 1000px;
  min-height: 4em;
  align-items: center;
  margin: 0 auto;
  margin-top: -1em;
  /* margin-top: 1em; */
  border: 2px solid white;
  border-radius: 10em;
}

#header .logo {
  width: 200px;
  height: auto;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 1em;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4em;
  list-style: none;
}

.nav-link a {
  color: var(--text-color);
  text-decoration: none;
  transition:
    color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 300;
}

.nav-link a:hover {
  color: var(--accent-color);
  transform: scale(1.2);
}

.nav-link img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.logo {
  width: 120px;
  height: auto;
}

.social-links {
  display: flex;
  gap: 2rem;
}
