@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --background-color: #1b2021;
  --text-color: #fcf7f8;
  --accent-color: #51a3a3;
}

body {
  font-family: "Manrope", "Courier New", Courier, monospace;
  background: var(--background-color);
}

#header {
  display: flex;
  justify-content: flex-start;
  padding: 2em 3em;
  max-width: 1400px;
  align-items: center;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 2em;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4em;
  list-style: none;
}

.nav-link a {
  color: var(--text-color);
  text-decoration: none;
  transition:
    color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 300;
}

.nav-link a:hover {
  color: var(--accent-color);
  transform: scale(1.2);
}

.nav-link img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.logo {
  width: 120px;
  height: auto;
}

.social-links {
  display: flex;
  gap: 2rem;
}
